.idea/
.idea/dataSources.local.xml
/target/
/logs/
/data/
/db.7z
/db2.7z
/h2-1.4.188.jar
/hs_err_pid4812.log
/lame.bat
/lame.exe
/lame_enc.dll
/nb-configuration.xml
/nbactions-release-profile.xml
/nbactions.xml
/*.db
BiomedisMAir3.iml
/tmp/

