.searchButton
{
    -fx-background-image: url("../images/users_search.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
.searchButton2
{
    -fx-background-image: url("../images/search.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
.nextButton
{
    -fx-background-image: url("../images/next.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
.searchReturnButton
{
    -fx-background-image: url("../images/undo.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}


.roundedIndicator{
            -fx-background-radius: 24;
-fx-min-width: 24px;
-fx-min-height: 24px;
-fx-max-width: 24px;
-fx-max-height: 24px;

-fx-background-insets: 0px;
}

.GenericBtn{}

.GenericBtn:hover
{

    -fx-effect: dropshadow( three-pass-box , rgba(102,152,254,0.6) , 5, 0.0 , 0 , 1 );
}
.GenericBtn:pressed
{

    -fx-border-color: rgba(102,152,254,0.6);
}
.OverBorder
{

    -fx-border-color: rgb(149, 10, 254);
}
.DelBtn
{
    -fx-background-image: url("../images/delete.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.BackBtn
{
    -fx-background-image: url("../images/back.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

.ForwardBtn
{
    -fx-background-image: url("../images/forward.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.HomeBtn
{
    -fx-background-image: url("../images/home.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.SaveBtn
{
    -fx-background-image: url("../images/save.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.GrayBackground{
    -fx-background-color: #242424;
}


.RedBackground{
    -fx-background-color: red;
}

.GreenBackground{

    -fx-background-color: green;
}
.BlueBackground{

    -fx-background-color: blue;
}

.UploadBtn
{
    -fx-background-image: url("../images/upload.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

.SortTimeBtn
{
    -fx-background-image: url("../images/sort_time.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.SortAlphBtn
{
    -fx-background-image: url("../images/sort_alph.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

.AddBtn
{
    -fx-background-image: url("../images/add.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.MenuBtn
{
    -fx-background-image: url("../images/menu.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.DownBtn
{
    -fx-background-image: url("../images/down.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.UpBtn
{
    -fx-background-image: url("../images/up.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.EditBtn
{
    -fx-background-image: url("../images/edit.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.ImportBtn
{
    -fx-background-image: url("../images/import.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}


.ExportBtn
{
    -fx-background-image: url("../images/export.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.PrintBtn
{
    -fx-background-image: url("../images/print.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}


/*
.button {
    -fx-font-weight: bold;
}

.borders{ -fx-border-color: grey; -fx-border-style: solid; -fx-border-width: 2; -fx-border-radius: 5px; }
.root
{
    -fx-base: rgb(136, 0, 255);
    -fx-background: rgba(255, 234, 0, 1);
    -fx-accent: rgba(1, 0, 201, 1);
}
*/
.fffffff
{
    -fx-base: rgb(136, 0, 255);

}
/*
#tab1 {
    -fx-background-color: -fx-outer-border, -fx-text-box-border,rgb(21, 205, 26);
}

#tab2 {
    -fx-background-color: -fx-outer-border, -fx-text-box-border,rgb(29, 211, 255);
}

#tab3 {
    -fx-background-color: -fx-outer-border, -fx-text-box-border,rgb(241, 192, 1);
}

#tab5{
    -fx-background-color: -fx-outer-border, -fx-text-box-border,rgb(128, 34, 255);
}

#tab4 {
    -fx-background-color: -fx-outer-border, -fx-text-box-border,rgb(241, 147, 230);
}

*/
#tab1  .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(18, 141, 23);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#tab2  .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(20, 140, 170);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
#tab3  .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(81, 23, 162);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
#tab4  .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(173, 137, 1);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
#tab5  .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(169, 3, 33);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.SyncBtn {
    -fx-background-image: url("../images/sync.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.error_border{
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}


.EditSmallBtn
{
    -fx-background-image: url("../images/edit_6969.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
