div.message > div {
  position: relative;
  padding: 0px 20px 0px 35px;
  margin-bottom: 30px;
  width: 80%;
  min-height: 80px;
}

div.message.outcomming > div {
  float: right;
  color: rgb(46, 46, 46);
  background-color: rgb(221, 221, 221);
  border-radius: 10px 10px 0 10px;
}

div.message.incomming > div {
  float: left;
  background-color: rgb(66, 124, 199);
  border-radius: 0 10px 10px 10px;
  color: #fff;
}

div.message > div > div:first-child {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #fff;
}

div.message > div > div:last-child {
  text-align: justify;
}

.actionBtn:hover {
  transition: .2s;
  text-shadow: 0px 0px 8px #b1afaf;
}

.editBtn{

}
.deleteBtn{

}

.actionBtn {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
  transition: .5s;
}

.bnt_area > div:first-child{
  margin-bottom: 8px;
}


